#table-wrapper {
    position: relative;
}

#table-scroll {
    height: 350px;
    overflow: auto;
    margin-top: 20px;
}

#table-wrapper table {
    width: 90%;

}

select:invalid {
    color: gray;
}

option {
    color: black;
}

.form{
    width: 180px;
    height: 25px;
    border-style: solid;
    border-width: 2px;
    line-height: normal;
}